POSTGRES_DB=bunker
POSTGRES_USER=bunker
POSTGRES_PASSWORD=bunker
DATABASE_URL=postgresql://bunker:bunker@postgres:5432/bunker?schema=public

API_PORT=4000
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_ADMIN_PATH=admin
API_INTERNAL_URL=http://api:4000

ADMIN_EMAIL=admin@bunker.local
ADMIN_PASSWORD=ChangeMe123!
ADMIN_JWT_SECRET=super-secret-admin-jwt
